p id="notice" = notice

br
strong 標題
= @question.title

br
| content
br
= @question.content.html_safe

br
| committee
br
= @question.committee.try(:name)
br
| meeting_description
br
= @question.meeting_description
br

| ad_session
br
= @question.ad_session.try(:name)

br
| ad
br
= @question.ad.try(:name)

br
| legislators
br
- @question.legislators.each do |l|
  = l.name
  br

br
| ivod_url
br
= @question.ivod_url

br
| date
br
= @question.date

br
| comment
br
= @question.comment.try(:html_safe)
br


= link_to '修改', edit_question_path(@question), class: "btn"
= link_to '回到列表', questions_path, class: "btn"
