nav#sec-nav
  ul#secn01.txt-nav
    li = link_to '兵團計畫說明', about_path
    li = link_to 'FAQ', faq_path
    li = link_to '會員條款', service_path
    li = link_to '隱私權政策', privacy_path, class: "current"
    li = link_to '兵團操作教學說明', tutorial_path

#txt-info
  h2 【隱私權政策】
  .tnote 以下隱私權政策同時適用於本站提供的社群整合登入(第三方登入)服務。
  .qc
    h3 個人資料之安全
    p 保護會員的個人隱私是本站首要義務，在未經會員同意之下，本站絕不會將會員的個人資料提供予任何與本站無關之第三人。會員應妥善保密自己的網路密碼及個人資料，勿將任何個人資料，尤其是網路密碼提供給任何人。使用完本站所提供的各項服務功能後，務必記得登出帳戶，若是與他人共享電腦或使用公共電腦，請在使用後清除瀏覽器暫存檔案與Cookie並關閉瀏覽器視窗。
  .qc
    h3 個人資料的利用
    p 本站於 Facebook 、Google plus 等社群網站第三方服務所取得之個人資料，僅供本站於其內部、依照所述使用目的和範圍進行使用。除非事先說明、或依照相關法律規定，否則本站不會將資料提供給第三人、或移作其他目的使用。利用之目的示例如下：
    ul
      li 當會員進行任一社群整合，會員可自行設定是否將個人資訊公開顯示於指定頁面。
      li 會員若主動設定任一社群之同步動態或分享功能，系統將依據會員設定，自動同步動態或分享到會員的個人社群頁面中。
      li 為有效管理會員品質，本站管理者可直接看見會員來自各社群網站的一些基本資料，但僅作必要管理之用途。
      li 本站若有關於使用者權益變更、重要活動、網站公告等訊息，將發送E-mail到您所設定的電子信箱進行通知。
      li 本站可能於上述規定之目的以外利用個人資料。屆時將於該個別服務之網頁載明其要旨。
  .qc
    h3 本站存放資料之安全
    p 為保障會員的隱私及安全，本站會員帳號密碼將加密保護。本站並盡力以合理之技術及程序，保障所有個人資料之安全。
  .qc
    h3 個人資料查詢或更正的方式
    p 會員對於其個人資料，有查詢及閱覽、製給複製本、補充或更正、停止電腦處理及利用、刪除等需求時，會員可直接於本站所提供的會員個人資料管理頁面進行操作，若遇有必需審核或沒有權限的操作，可以直接與本站聯絡，本站將迅速進行處理。
  .qc
    h3 Cookie
    p 為便利會員使用，本站使用 cookie 技術以便於提供會員所需要之服務。cookie 是網站伺服器用來和會員瀏覽器進行溝通的一種技術，它可能在會員的電腦中隨機儲存字串，用以辨識區別使用者，若會員關閉 cookie，有可能導致無法順利登入本站會員等狀況。
  .qc
    h3 隱私權保護政策修訂
    p 
      | 隨著網站環境的改變，本站將會不時修訂隱私權保護政策。會員如果對於本站隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以與
      = mail_to 'watchoutgovernment@gmail.com', '我們聯絡'
      | 。
