h1 修改影片

= simple_form_for(@entry, html: {class: 'form-horizontal center' }) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to '查看', entry_path(@entry), class: "btn"
= link_to '回到列表', entries_path, class: "btn"
