@charset "utf-8";
/* CSS Document */

.party-dpp{
	background:url(../party/dpp.gif);
	}
.party-kmt{
	background:url(../party/kmt.gif);}
.party-nsu{
	background:url(../party/nsu.gif);}
.party-tsu{
	background:url(../party/tsu.gif);}
.party-pfp{
	background:url(../party/pfp.gif);}
.party-null{
	background:url(../party/null.gif);}