@charset "utf-8";
/* CSS Document */
#element_to_pop_up { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:30px 3px 30px 30px;
    min-width:400px;
	max-width:900px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:-15px;
    top:-25px;
}
.vote-proposal-txt{
	max-height:420px;
	overflow-y:scroll;
	position:relative;}

.vote-proposal-txt h4{
	color:#fff;
	background:#666666;
	border-radius:8px;
	padding:8px 12px;
	font-size:20px;
	width:95%;}
.vote-time-s{
	position:absolute;
	color:#eee;
	right:35px;
	top:11px;}
.proposal-inner{
	padding:20px;
	line-height:1.7em;}
.proposal-inner p,.proposal-inner ul,.proposal-inner ol{
	margin-bottom:20px;}
@media only screen and (max-width: 960px){
	#element_to_pop_up {
		 min-width:200px;
		max-width:85%;}
		.vote-proposal-txt{
	max-height:280px;
	}
	}