@charset "utf-8";
/* CSS Document */

#post-block{margin-top:25px;
border:none;
background:#F3F3F3;
border-radius:10px;}
#login-out-block h2,#post-block h2,#choose-block h2{
border-top-left-radius:10px;
border-top-right-radius:10px;
color:#000;
background:#d7d7d7;
padding:15px;}
#login-out-block.wid-block{margin-top:25px;
overflow:hidden;
padding-bottom:20px;}

#choose-block{
margin-top:25px;
border:none;
background:#F3F3F3;
border-radius:10px;
max-width:none;
overflow:hidden;
width:84%;}
#choose-block a{
font-size:36px;}
#choose-block .snote,#choose-block .snote a{
font-size:16px;}
#choose-block .snote{
clear:both;
line-height:1.7em;
padding:10px 0 5px 0;}
#choose-block li{
border-right:1px dotted #AAA;
border-bottom:none;
width:29.2%;
float:left;
padding:0 2%;
min-height:180px;}
#choose-block li:nth-last-child(1){
border:none;}
#choose-block img{
	margin-bottom:10px;}
.form-list li{
margin-bottom:25px;}
#video-show-list.all-list{
width:auto;
float:none;
margin:-20px 6% 0 6%;

}
#video-show-list.all-list .big-video-show{
background:#F3F3F3;
padding:25px 7%;
width:auto;
float:none;
margin:20px -7%;
}

#video-show-list.all-list .big-video-show .img_url_l{
padding-top:26%;}
#video-show-list.all-list .small-video-show .img_url_l{
padding-top:25%;}
#video-show-list.all-list .small-video-show{
margin:0px;
padding:2.5%;
padding-top:3%;
height:160px;}
.all-list #video-list{
width:auto;
float:none;
margin:0px;
padding-left:0px;}
#news-inner-list .small-news-show{
margin-bottom:25px;}

#info-show-list{
	margin:40px 0;
	padding:0 5%;}
#page{
	padding:30px 6%;}

.side-sblock#news-list ul a,.side-sblock#say-list ul a,h3 a{
display:block;}


#error_explanation,.alert{
font-size:20px;
}
.alert{
padding:20px;
border-radius:15px;
max-width:380px;}
.sinner-info li span{
background:#d3d3d3;}
.people-info-block h2{
height:1.5em;
overflow:hidden;}

.news-info-list{
overflow:hidden;}
#aside-info{
margin-bottom:20px;}

.news-info-list li{
font-size:15px;
min-height:2.5em;}

.vo-title{
font-size:16px;
min-height:2.5em;
width:auto;
float: none;
padding-left:145px;
}
.vo-img{
margin-left:15px;
margin-right:15px;}
.video-other-list li{
	margin-bottom: 20px;
}
.video-other-list{
padding:15px;}

#txt-info{
	padding:0 9%;}
#txt-info h3{
	color:#5DAA32;}
#video-show-list.all-list .small-video-show .inner-content{
	width:50%;
}
.show-more-snippet {
    height:34px;  /*this is set to the height of the how much text you want to show based on the font size, line height, etc*/
    overflow:hidden;
}
@media only screen and (max-width: 1152px){

	#secn01 li a{
padding:5px 8px;}
	#secn02 li a{
padding:3px 4px 7px 4px;
}
	#people-rank-list li{
		width:25%;}
	#people-rank-list li span{
		float:left;
		width:auto;
		padding:4px 0 0 0;
		}
	#people-rank-list li em{
		float:left;
		padding:0 3% 0 14%;}
		.big-video-show .inner-content{
		float:none;
		width:100%;
		clear:both;
		}
		.all-list .small-news-show{
height:210px;} 
#video-show-list.all-list .big-video-show .inner-content{
float:left;
clear:none;}

#video-show-list.all-list .small-video-show .inner-content{
	display:none;
}
	}
@media only screen and (max-width: 960px){

#secn01 li a{
padding:5px 15px;}
	#secn02 li a{
padding:3px 15px 7px 15px;
}
#secn01,#secn02{
float:none;}
	#people-rank-list li{
		width:33%;}
		#people-rank-list li em{
		padding:0 3% 0 14%;}


	
#people-all-list .people-info-block{
	width:45.5%;
	margin:1.7%;}
	.people-img{
		width:26%;
		min-height:100px;}
	.people-info-block h2{
		width:66.5%;
		font-size:26px;
		padding-top:7px;}

	.info-number{
		width:70%;
		margin-right:-20%;}
	.info-number li{
		width:29%;
		margin:0px;
		margin-right:2%;
		padding:0px;
		float:left;}
	.pinfo .info-number li{
		padding:1%;}
	.info-number a,.info-number em{
		float:none;
		margin:0px;
		display:block;
		text-align:center;
		font-family:Arial;}
		.info-number a{
		font-size:22px;
		line-height:38px;
		}
		.pinfo .info-number em,.pinfo .info-number a{
	text-align:left;
	display:inline;}
	.party-tag{
		width:30px;
		height:24px;}



	.pinfo .selector-info{
		border:none;
		border-left:4px solid #e2e2e2;
		margin:0 0 0 -1px;
		float:left;
		clear:none;
		width:105px;
		}
	.pinfo .selector-info.si-newest{
	margin-left:3%;
	}
	.pinfo .selector-info div{
	float:none;
	width:auto;
	padding-left:7px;}
	.big-video-show{
		width:97.5%;
		padding:3% 0 0 0;}	
	#info-show-list #video-list{
	width:94%;
	margin-right:3%;}
	#video-list{
		width:86.5%;
	margin-right:7%;}
	.side-sblock#news-list,.side-sblock#say-list{
	width:44%;
	margin:3%;}

	.single-page-inner{
	width:97.5%;}
	#news-show-list.all-list .small-news-show{
width:42.5%;
margin:2%;
height:180px;
} 

#news-show-list.all-list{
margin-right:6%;
}
#news-inner-list{
margin:0 -3%;}

	#news-show-list .small-news-show{
width:42%;
margin:2%;
height:180px;
float:left;} 
#video-show-list.all-list .big-video-show .inner-content{
display:none;}

#video-show-list.all-list .small-video-show{
height:120px;}
.small-video-show .img_url_l{
margin-right:5%;}
#video-show-list.all-list .small-video-show h3{
width:50%;}
#video-list .small-video-show .img_url_l{
margin-right:3%;}

#video-show-list .big-video-show {
	width:90%;
margin:20px -11% 20px 0;
padding: 40px 15% 0 15%;
}
.pinfo .info-number{
margin-bottom:7px;}
.single-page-inner{
padding-top:0px;}
#video-show-list.all-list .big-video-show .img_url_l{
float:none;
width:100%;
padding-top:56%;}
#video-show-list.all-list .big-video-show h3{
float:none;
width:100%;}
#video-show-list.all-list .small-video-show{
float:none;
width:auto;
height:auto;
padding:5% 0;}
.side-sblock#news-list ul{
font-size:20px;
line-height:1.3em;}
.side-sblock#news-list ul li{
margin-bottom:20px;}
.side-sblock#say-list ul li{
font-size:15px;
line-height:1.7em;}

.small-video-show .inner-content{
width:65%;
clear:none;
padding:0px 0 30px 0;
float:left;}


#people-single-top{
	padding:20px 5% 15px 0.5%;}
#people-single-top .big-video-show{
width:93%;}

.single-page-inner{
width:87%;}
.news-info-list li{
font-size:20px;
}
.video-other-list li{
width:100%;}

.vo-title{
width:auto;
font-size:24px;}

#first-nav{
	float:none;
	text-align:center;
	clear:both;}
#first-nav li{
	float:none;
	display:inline;
	border:none;
	border-bottom:none;
	margin:0 0 0 -1px ;
	}
	#first-nav li a{
			display:inline;
			padding:4px 10px;
			
	}
	#video-show-list.all-list .small-video-show .inner-content{
	display:block;
}



#choose-block li{
border-right:none;
border-bottom:1px dotted #AAA;
width:auto;
float:none;
min-height:1px;
padding-bottom:15px;}
}



@media only screen and (max-width: 800px){

.time{
display:none;}
#news-show-list.all-list .small-news-show{
height:220px;
}
					.pinfo .selector-info{
			display:block;
		}

.big-video-show .inner-content,.small-video-show .inner-content{
display:none;}
#video-show-list #video-list{
width:88.5%;}
#video-show-list.all-list #video-list{
width:100%;}
#video-show-list .big-video-show{
padding-bottom:40px;}
.video-other-list li{
float:none;
width:100%;
overflow:hidden;}

	}

@media only screen and (max-width: 720px){
.big-video-show .img_url_l{
width:98%;
padding-top:55%;}
.big-video-show h3{
width:100%;
padding-top:15px;}

#video-show-list.all-list .small-video-show .img_url_l{
padding-top:25.5%;
}
#video-show-list.all-list .small-video-show h3{
font-size:24px;}
#video-show-list .big-video-show{
padding-bottom:25px;}
.pinfo .selector-info{
display:none;}
.pinfo .selector-info.si-newest{
display:block;
width:70%;
border:none;
}
.pinfo .people-img{
width:22%;}
.pinfo .selector-info div{
float:left;
margin:0 10px 0 0;
}
	.small-video-show h3,#video-show-list.all-list .small-video-show h3{
	width:97.5%;
	margin-bottom:0px;
	font-size:26px;}
	.small-video-show .img_url_l{
	display:none;}
	.pinfo .info-number{
	width:76%;}
#video-show-list.all-list .small-video-show .inner-content{
	display:none;}
}
@media only screen and (max-width: 640px){
#logo{
	margin:0 0 0 16px;
	float:left;}
	#first-nav {
	margin:0 -7%;}
	#first-nav li{
	display:block;
	border-bottom:1px solid #3c3c3c;}
	#first-nav li a{
			display:block;
			padding:7px 10px;
			
	}
	#people-rank h3{
		font-size:2em;}
	#people-rank p{
		padding:17px 0 0 6px;
		font-size:1em;}
	#people-rank-list li em{
		padding:0 3% 0 18%;}
	#people-rank-list li span{
		float:none;
		clear:both;
		padding:0 3% 0 18%;}
		.video-a{
	margin-bottom:10px;}
	.index-sub-video{
		float:none;
		width:94%;}
	.people-img{
		width:22%;}
	#people-all-list .people-info-block{
		width:auto;
		margin-bottom:4%;}
	.info-number{
		width:80%;}
		.pinfo .selector-info.si-newest{
			float:left;
			border:#D4D4D4 1px solid;
			clear:none;}
		.side-sblock#news-list,.side-sblock#say-list{
		width:94%;}
		.side-sblock#news-list ul li{
		width:auto;}
		.side-sblock#say-list ul{
		width:95%;}
		#news-show-list.all-list .small-news-show{
		float:none;
		width:auto;
height:auto;
padding-bottom:30px;
margin-bottom:30px;
}
#news-show-list .small-news-show{
float:none;
width:auto;
height:auto;
padding-bottom:30px;
margin-bottom:30px;} 
	#video-show-list.all-list .small-video-show .img_url_l{
	width:45%;}
.pinfo .selector-info.si-newest{
border:none;
}

.pinfo .info-number{
width:72%;}
.pinfo .selector-info.si-newest{
display:block;
width:100%;
border:none;
margin:0 0 0 0px;
border-top:1px solid #D4D4D4;}
.info-number li{
text-align:center;}
.pinfo .info-number li{
padding-bottom:0px;}
.pinfo .info-number a{
display:block;
text-align:center;}	


}



@media only screen and (max-width: 480px){
#first-nav{
width:auto;
}
#first-nav li{
border-bottom:1px solid #3C3C3C;}
#secn01 li{
width:32.5%;
text-align:center;}
	#secn02 li a{
padding:3px 8px 7px 8px;
margin-bottom:10px;
}

	#people-rank-list li{
		width:42%;
		border:none;
		margin:0px;
		}
		#people-rank-list li em{
		padding:0 3% 0 17%;}
	#people-rank-list li:nth-child(1),#people-rank-list li:nth-child(2),#people-rank-list li:nth-child(3),#people-rank-list li:nth-child(4),#people-rank-list li:nth-child(5),#people-rank-list li:nth-child(6){
	float:left;
	clear:left;
	border-right:1px solid #D4D4D4;
	margin:0 15% 0 0;
	}
	#people-rank-list li:nth-child(7),#people-rank-list li:nth-child(8),#people-rank-list li:nth-child(9),#people-rank-list li:nth-child(10),#people-rank-list li:nth-child(11),#people-rank-list li:nth-child(12){
	float:none;
	}
	#video-show-list.all-list .small-video-show{
	height:auto;
	padding-bottom:25px;}

	.info-number{
	width:74%;}


	}
@media only screen and (max-width: 360px){
#secn01 li a{
height:auto;
padding:5px;}
	#people-rank-list li em{
		padding:0 3% 0 22%;}
		#people-rank-list li span{
		padding:0 3% 0 22%;}
		#people-rank-list li:nth-child(1),#people-rank-list li:nth-child(2),#people-rank-list li:nth-child(3),#people-rank-list li:nth-child(4),#people-rank-list li:nth-child(5),#people-rank-list li:nth-child(6){

	margin:0 8% 0 0;
	}
	.people-img{
	width:30%;}
	.people-info-block h2{
	width:63%;}
	.info-number{
	width:66%;}
	}