<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="utf-8">
  <title>國會調查兵團 CIC - Congressional Investigation Corps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link href="css/style-new.css" rel="stylesheet" type="text/css">
  <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
  <script>
$('.show-more').click(function() {
    if($('.show-more-snippet').css('height') != '35px'){
        $('.show-more-snippet').stop().animate({height: '35px'}, 200);
        $(this).text('更多...');
    }else{
        $('.show-more-snippet').css({height:'100%'});
        var xx = $('.show-more-snippet').height();
        $('.show-more-snippet').css({height:'35px'});
        $('.show-more-snippet').stop().animate({height: xx}, 400);
        // ^^ The above is beacuse you can't animate css to 100% (or any percentage).  So I change it to 100%, get the value, change it back, then animate it to the value. If you don't want animation, you can ditch all of it and just leave: $('.show-more-snippet').css({height:'100%'});^^ //
        $(this).text('收合...');
    }
});
  </script>
  </head>

  <body>
  <div id="outer">
    <article id="all-wrap">
      <div id="top">
        <header id="logo">
          <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
        </header>
        <nav id="first-nav">
          <ul>
            <li><a href="new-record-list.html">最新調查</a></li>
            <li><a href="legislators-search.html">找立委</a></li>
            <li><a href="login.html">登入</a></li>
            <li><a href="regist.html">加入兵團</a></li>
            <li><a href="about.html">兵團計畫說明</a></li>
          </ul>
        </nav>
      </div>
      <div id="main-wrap">
        <div id="single-data-page">
          <section class="single-page-inner">
            <header>
              <h3>鄭天財Sra.Kacaw 第8屆第6會期 社會福利及衛生環境委員會 2014-3-13</h3>
            </header>
            <ul class="sinner-info">
              <li><span>立委</span> <em><a href="#">黃昭順</a></em></li>
              <li><span>屆次</span> <em>第9屆</em></li>
              <li><span>選區</span> <em>高雄市第3選區</em></li>
              <li><span>黨籍</span> <em>中國國民黨</em></li>
            </ul>
            <ul class="sinner-info">
              <li><span>立委</span> <em><a href="#">黃昭順</a></em></li>
              <li><span>屆次</span> <em>第9屆</em></li>
              <li><span>選區</span> <em>高雄市第3選區</em></li>
              <li><span>黨籍</span> <em>中國國民黨</em></li>
            </ul>
            <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
            <div class="inner-content-txt">
              <p>李桐豪提出上會期曾質詢過的花蓮河川汙染問題，詢問新任環保署長魏國彥是否有任務交接。另位官員代打表示，水質檢測沒有問題，也無委員提出的暗管問題。李桐豪回答，現在去看還是汙濁的水，無論如何要想辦法弄乾淨。署長表示列案處理，若有汙染將追究源頭並處罰</p>
              <p>問：毒性應變小組長期委外處理，為何不在政府組織處理？<br>
                答：建置之內有，另外也需善用民間力量，雖外包我們也有監督責任<br>
                問：97-102年都是相同學校承包，有檢核機制嗎？還是方便辦事？<br>
                答：每兩年公開招標</p>
              <p>問：電動車怎麼推動？<br>
                答：新北和高雄有推動計畫，要設立電池交換站，但規模不夠。Ubike擴大成風尚，可學習。<br>
                問：建議擴大經濟規模</p>
            </div>
            <ul id="sinner-src-list">
            <li><a href="#">立法院議事公報連結</a></li>
            <li>會議日期：2014/3/13</li>
              <li>ivod出處：<a href="http://ivod.ly.gov.tw/Play/VOD/78364/300K">http://ivod.ly.gov.tw/Play/VOD/78364/300K</a></li>
              <li>開會時間：2014/3/13</li>
              <li>時間標記：16:06~16:18</li>
              <li>會議別：內政委員會</li>
              <li>會期：第8屆第6會期</li>
              <li>會議簡介：
                <div class="show-more-snippet"> Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. </div>
                <a class="show-more">更多...</a></li>
            </ul>
            <div class="writer"><span>資料回報者</span>阿皮皮皮皮皮皮皮皮皮 at
              <time class="time">2014-06-17</time>
            </div>
            <aside id="writer-say">
              <div class="writer-say-title">回報者個人心得</div>
              <p>根據GOOGLE結果  KANO只獲得文化部補助七千五百多萬，距離潘維剛指出一億多元有落差阿!!!  還是有其他的新聞我沒查到?? </p>
              <ol>
                <li>asdfasf</li>
                <li>asdfasdf</li>
                <li>asdfasf</li>
                <li>asdfasdf</li>
              </ol>
              <ul>
                <li>asdfasf</li>
                <li>asdfasdf</li>
                <li>asdfasf</li>
                <li>asdfasdf</li>
              </ul>
            </aside>
            <div id="edit-block">
              <ul class="edit-btn">
                <li><a href="edit-talk.html">修改編輯</a></li>
                <li><a href="#">刪除</a></li>
              </ul>
            </div>
            <!--留言區塊放在reply-message區塊內 start-->
            <div class="reply-message"> </div>
            <!--留言區塊end-->
          </section>
        </div>
      </div>
      <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
    </article>
  </div>
</body>
</html>
