<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>國會調查兵團 CIC - Congressional Investigation Corps</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="css/style-new.css" rel="stylesheet" type="text/css">
<link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="outer">
	<article id="all-wrap">
    	<div id="top">
       	  <header id="logo"><h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1></header>
          <nav id="first-nav">
          	<ul>
            	<li><a href="new-record-list.html">最新調查</a></li>
<li><a href="legislators-search.html">找立委</a></li>
            	<li><a href="login.html">登入</a></li>
            	<li><a href="regist.html">加入兵團</a></li>
            	<li><a href="about.html">兵團計畫說明</a></li>
            </ul>
          </nav>
        </div>
        <div id="main-wrap">
        <div class="legislators-group">
<div class="legislators-block">
  <div class="legislators-basic party-kmt"> <a href="people-single.html" class="legimg"><img src="images/people.jpg" /></a>
    <h2 class="name"> <a href="people-single.html">鄭天財Sra.Kacaw</a> </h2>
    <ul class="edition">
      <li><span>第9屆</span>全國不分區｜民主進步黨</li>
      
    </ul>
    <nav>
      <ul class="local-data">
        <li><a href="people-single-video.html">影片數 <span>100</span></a></li>
        <li><a href="people-single-news.html">新聞數 <span>100</span></a></li>
        <li><a href="people-single-talk.html">質詢數 <span>100</span></a></li>
      </ul>
    </nav>
  </div>
  <aside class="legislators-more-info">
    <ul class="lmib-01">
      <li id="lmi-01"><a href="legislators-analysis.html">立委戰力分析</a></li>
      <li id="lmi-02"><a href="legislators-contributions.html">政治獻金</a></li>
                <li id="lmi-03"><a href="legislators-vote.html">提案投票紀錄</a></li>
                <li id="lmi-04"><a href="legislators-law.html">法條修正案</a></li>
    </ul>
    <ul class="lmib-02">
<h6>相關連結</h6>
      <li id="lmi-05"><a href="#">個人財產申報</a></li>
      <li id="lmi-06"><a href="#">競選政見</a></li>
      <li id="lmi-07"><a href="#">官方臉書</a></li>
      <li id="lmi-08"><a href="#">維基百科</a></li>
<li id="lmi-09"><a href="#">立院ivod</a></li>
<li id="lmi-10"><a href="#">公督盟評鑑</a></li>
<li id="lmi-11"><a href="#">國會無雙</a></li>
    </ul>
    <ul class="lmi-02">
      <li></li>
    </ul>
  </aside>
</div>
        </div>
        <div id="video-show-list">
         <div class="blank">目前尚無資料，<a href="/report">立刻回報！</a></div>
          
</div>
        </div>
        <footer id="footer">
        本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。
        </footer>
    </article>
    </div>
</body>
</html>
