<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>國會調查兵團 CIC - Congressional Investigation Corps</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/jquery.bpopup.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="css/popup.css" rel="stylesheet" type="text/css">
<link href="css/style-new.css" rel="stylesheet" type="text/css">
    <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="outer">
  <article id="all-wrap">
    <div id="top">
      <header id="logo">
        <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
      </header>
      <nav id="first-nav">
        <ul>
          <li><a href="new-record-list.html">最新調查</a></li>
          <li><a href="legislators-search.html">找立委</a></li>
          <li><a href="login.html">登入</a></li>
          <li><a href="regist.html">加入兵團</a></li>
          <li><a href="about.html">兵團計畫說明</a></li>
        </ul>
      </nav>
    </div>
    <div id="main-wrap">
      <div class="vote-ly-g0v">
        <div class="legislators-group">
          <div class="legislators-block">
            <div class="legislators-basic party-kmt"> <a href="people-single.html" class="legimg"><img src="images/people.jpg" /></a>
              <h2 class="name"> <a href="people-single.html">鄭天財Sra.Kacaw</a> </h2>
              <ul class="edition">
                <li><span>第9屆</span>全國不分區｜民主進步黨</li>
              </ul>
              <nav>
                <ul class="local-data">
                  <li><a href="people-single-video.html">影片數 <span>100</span></a></li>
                  <li><a href="people-single-news.html">新聞數 <span>100</span></a></li>
                  <li><a href="people-single-talk.html">質詢數 <span>100</span></a></li>
                </ul>
              </nav>
            </div>
            <aside class="legislators-more-info">
              <ul class="lmib-01">
                <li id="lmi-01"><a href="legislators-analysis.html">立委戰力分析</a></li>
                <li id="lmi-02"><a href="legislators-contributions.html">政治獻金</a></li>
                <li id="lmi-03"><a href="legislators-vote.html">提案投票紀錄</a></li>
                <li id="lmi-04"><a href="legislators-law.html">法條修正案</a></li>
              </ul>
              <ul class="lmib-02">
<h6>相關連結</h6>
                <li id="lmi-05"><a href="#">個人財產申報</a></li>
                <li id="lmi-06"><a href="#">競選政見</a></li>
                <li id="lmi-07"><a href="#">官方臉書</a></li>
                <li id="lmi-08"><a href="#">維基百科</a></li>
<li id="lmi-09"><a href="#">立院ivod</a></li>
<li id="lmi-10"><a href="#">公督盟評鑑</a></li>
<li id="lmi-11"><a href="#">國會無雙</a></li>
              </ul>
              <ul class="lmi-02">
                <li></li>
              </ul>
            </aside>
          </div>
        </div>
        <section class="single-page-inner">
          <div id="title-analysis" class="vtitle-set">
            <header>
              <h3>立委戰力分析</h3>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">第8屆<i>第5會期</i> </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第5會期</i></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第4會期</i></a></li>
                </ul>
              </div>
              <div class="data-src">原始數據來源：<a href="http://www.ccw.org.tw/" target="_blank">公民監督國會聯盟</a></div>
            </header>
          </div>
          <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
          <div class="inner-content-txt">
            <div class="analysis-sblock">
              <h4>出席統計</h4>
              <div class="analysis-inner">
                <div class="attend-block">
                  <h5>院會<br>
                  出席率</h5>
                  <div class="attend-graphic">
                    <div class="atg-01 atg">
                      <div class="atg-bar">
                        <div class="atg-color-01" style="height:100%;"><span>100%</span></div>
                      </div>
                      <p class="atg-txt">丁守中<br>
                        出席率</p>
                      <p><span><img src="images/atg-color-01.png" alt=""/></span><span class="this-color">100<i>%</i></span></p>
                    </div>
                    <div class="atg-02 atg">
                      <div class="atg-bar">
                        <div class="atg-color-02" style="height:95%;"><span>95%</span></div>
                      </div>
                      <p class="atg-txt">所有委員<br>
                        出席率平均數</p>
                      <p><span><img src="images/atg-color-02.png" alt=""/></span><span>95<i>%</i></span></p>
                    </div>
                  </div>
                  <ul class="atg-number">
                    <li>
                      <p>院會<br>
                        應出席數</p>
                      <span>18</span></li>
                    <li>
                      <p>丁守中<br>
                        實際出席數</p>
                      <span>16</span></li>
                    <li>
                      <p>所有委員<br>
                        出席數平均數</p>
                      <span>18</span></li>
                  </ul>
                </div>
                <div class="attend-block">
                  <h5>社會福利及衛生環境委員會<br>
                  出席率</h5>
                  <div class="attend-graphic">
                    <div class="atg-01 atg">
                      <div class="atg-bar">
                        <div class="atg-color-01" style="height:100%;"><span>100%</span></div>
                      </div>
                      <p class="atg-txt">丁守中<br>
                        出席率</p>
                      <p><span><img src="images/atg-color-01.png" alt=""/></span><span class="this-color">100<i>%</i></span></p>
                    </div>
                    <div class="atg-02 atg">
                      <div class="atg-bar">
                        <div class="atg-color-02" style="height:95%;"><span>95%</span></div>
                      </div>
                      <p class="atg-txt">此委員會<br>
                        出席率平均數</p>
                      <p><span><img src="images/atg-color-02.png" alt=""/></span><span>95<i>%</i></span></p>
                    </div>
                  </div>
                  <ul class="atg-number">
                    <li>
                      <p>此委員會<br>
                        應出席數</p>
                      <span>18</span></li>
                    <li>
                      <p>丁守中<br>
                        實際出席數</p>
                      <span>16</span></li>
                    <li>
                      <p>此委員會<br>
                        出席數平均數</p>
                      <span>18</span></li>
                  </ul>
                </div>
                <div class="attend-block">
                  <h5>社會福利及衛生環境委員會<br>
                  質詢率</h5>
                  <div class="attend-graphic">
                    <div class="atg-01 atg">
                      <div class="atg-bar">
                        <div class="atg-color-01" style="height:100%;"><span>100%</span></div>
                      </div>
                      <p class="atg-txt">丁守中<br>
                        質詢率</p>
                      <p><span><img src="images/atg-color-01.png" alt=""/></span><span class="this-color">100<i>%</i></span></p>
                    </div>
                    <div class="atg-02 atg">
                      <div class="atg-bar">
                        <div class="atg-color-02" style="height:95%;"><span>95%</span></div>
                      </div>
                      <p class="atg-txt">此委員會<br>
                        質詢率平均數</p>
                      <p><span><img src="images/atg-color-02.png" alt=""/></span><span>95<i>%</i></span></p>
                    </div>
                  </div>
                  <ul class="atg-number">
                    <li>
                      <p>此委員會<br>
                        可質詢數</p>
                      <span>18</span></li>
                    <li>
                      <p>丁守中<br>
                        實際質詢數</p>
                      <span>16</span></li>
                    <li>
                      <p>此委員會<br>
                        質詢數平均數</p>
                      <span>18</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="analysis-sblock">
              <h4>提案統計</h4>
              <div class="analysis-inner">
                <div class="proposal-count">
                  <h5>主提案第一人：<em>12</em> 個</h5>
                  <div class="count-img law-img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                </div>
                <div class="proposal-count">
                  <h5>非主提案第一人：<em>40</em> 個</h5>
                  <div class="count-img law-img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                </div>
                <div class="proposal-count">
                  <h5>預算案提案：<em>117</em> 個</h5>
                  <div class="count-img money-img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                </div>
                <div class="proposal-count">
                  <h5>決算審查提案：<em>34</em> 個</h5>
                  <div class="count-img money-img"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
                </div>
              </div>
            </div>
            <div class="analysis-sblock">
              <h4>公民評鑑</h4>
              <div class="analysis-inner">
                <div class="citizen-score-txt">
                  <ul>
                    <li><span>本委員得分</span><i class="this-color"><img src="images/atg-color-01.png" alt=""/>16</i></li>
                    <li><span>全委員得分平均數</span><i><img src="images/atg-color-02.png" alt=""/>14</i></li>
                    <li><span>得分總分</span><i><img src="images/atg-color-03.png" alt=""/>20</i></li>
                  </ul>
                  <p>評分項目：問政專業、價值立場、問題解決、問政態度與技巧</p>
                </div>
                <div class="citizen-score-graphic">
                  <div class="atg-color-01" style="width:80%;"><span>本委員得分<i>16</i></span></div>
                  <div class="atg-color-02" style="width:70%;"><span>全委員得分平均數<i>14</i></span></div>
                </div>
              </div>
            </div>
            <div class="analysis-sblock">
              <h4>加分指標<i>指標說明請參考：<a href="http://www.ccw.org.tw/sites/default/files/%E7%AC%AC%E5%85%AB%E5%B1%86%E7%AC%AC%E5%85%AD%E6%9C%83%E6%9C%9F%E8%A9%95%E9%91%91%E4%BD%9C%E6%A5%AD%E8%BE%A6%E6%B3%951222%EF%BC%88%E5%85%AC%E5%91%8A%EF%BC%89.pdf" target="_blank">公督盟第八屆第六會期立法委員評鑑作業辦法</a></i></h4>
              <div class="analysis-inner">
                <div class="plus-01 plus-block">
                  <h5>陽光法案<br>
                    公益(義)法案</h5>
                  <ul>
                    <li><span>新立</span><i>3</i></li>
                    <li><span>修正</span><i>0.8</i></li>
                  </ul>
                </div>
                <div class="plus-02 plus-block">
                  <h5>預算刪減案</h5>
                  <ul>
                    <li><span>三讀通過</span><i>0</i></li>
                    <li><span>符合重大<br>
                      公益(義)價值</span><i>0</i></li>
                    <li><span>特殊<br>
                      事蹟加分</span><i>0.7</i></li>
                  </ul>
                </div>
                <div class="plus-03 plus-block">
                  <ul class="plus-list-nt">
                    <li>
                      <h5>特殊事蹟</h5>
                      <i>1.6</i></li>
                    <li>
                      <h5>利益衝突迴避揭露</h5>
                      <i>5</i></li>
                    <li>
                      <h5>開放旁聽</h5>
                      <i>0</i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="analysis-sblock">
              <h4>減分指標<i>指標說明請參考：<a href="http://www.ccw.org.tw/sites/default/files/%E7%AC%AC%E5%85%AB%E5%B1%86%E7%AC%AC%E5%85%AD%E6%9C%83%E6%9C%9F%E8%A9%95%E9%91%91%E4%BD%9C%E6%A5%AD%E8%BE%A6%E6%B3%951222%EF%BC%88%E5%85%AC%E5%91%8A%EF%BC%89.pdf" target="_blank">公督盟第八屆第六會期立法委員評鑑作業辦法</a></i></h4>
              <div class="analysis-inner">
                <ul class="plus-list-nt subtraction-list">
                  <li>
                    <h5>侵害基本人權法案/提案與連署</h5>
                    <i>0</i></li>
                  <li>
                    <h5>侵害基本人權預算案</h5>
                    <i>-2.7</i></li>
                  <li>
                    <h5>司法案件</h5>
                    <i>0</i></li>
                  <li>
                    <h5>脫序表現(院內與院外)</h5>
                    <i>0</i></li>
                </ul>
              </div>
            </div>
          </div>
          
          <!--留言區塊放在reply-message區塊內 start-->
          <div class="reply-message"> </div>
          <!--留言區塊end--></section>
      </div>
    </div>
    <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
  </article>
</div>
</body>
</html>
