<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="utf-8">
  <title>國會調查兵團 CIC - Congressional Investigation Corps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link href="css/style-new.css" rel="stylesheet" type="text/css">
  <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
  </head>

  <body>
  <div id="outer">
    <article id="all-wrap">
      <div id="top">
        <header id="logo">
          <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
        </header>
        <nav id="first-nav">
          <ul>
            <li><a href="new-record-list.html">最新調查</a></li>
            <li><a href="legislators-search.html">找立委</a></li>
            <li><a href="login.html">登入</a></li>
            <li><a href="regist.html">加入兵團</a></li>
            <li><a href="about.html">兵團計畫說明</a></li>
          </ul>
        </nav>
      </div>
      <div id="main-wrap">
        <div id="single-data-page">
          <section class="single-page-inner">
            <header>
              <h3>自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆自經區說明會　藍委黃昭順被嗆</h3>
            </header>
            <ul class="sinner-info">
              <li><span>立委</span> <em><a href="#">黃昭順</a></em></li>
              <li><span>屆次</span> <em>第9屆</em></li>
              <li><span>選區</span> <em>高雄市第3選區</em></li>
              <li><span>黨籍</span> <em>中國國民黨</em></li>
            </ul>
            <ul class="sinner-info">
              <li><span>立委</span> <em><a href="#">黃昭順</a></em></li>
              <li><span>屆次</span> <em>第9屆</em></li>
              <li><span>選區</span> <em>高雄市第3選區</em></li>
              <li><span>黨籍</span> <em>中國國民黨</em></li>
            </ul>
            <div class="video-inner-show">
              <iframe src="http://www.youtube.com/embed/DmHSUUJS9sQ" frameborder="0" allowfullscreen class="video-play"> </iframe>
            </div>
            <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
            <div class="inner-content-txt">
              <div class="video-inner-txt">
                <p>上場選手<br>
                  管碧玲 vs. NCC官員</p>
                <p>內容摘要<br>
                  管碧玲質詢二類電信開放項目範圍是依據哪個法令？NCC官員表示使用電信法，接著使用電信事業管理規則。管碧玲表示管理規則內根本沒有規定相關項目與內容，而我們卻用這個規定作為開放服貿的依據。</p>
                <p>會議提要<br>
                  第8屆第5會期，會議別：外交及國防委員會<br>
                  會議時間：2014-04-21 09:00</p>
              </div>
            </div>
            <ul id="sinner-src-list">
              <li>電視出處：蘋果電視、<a href="http://xxxx.xxxx.xxxx">http://xxxx.xxxx.xxxx</a></li>
              <li>ivod出處：<a href="http://ivod.ly.gov.tw/Play/VOD/78364/300K">http://ivod.ly.gov.tw/Play/VOD/78364/300K</a></li>
              <li>ivod時間區間:00:00:00~00:00:00</li>
              <li>第8屆第6會期</li>
              <li>會議時間：2014-10-10 09:00</li>
              <li>會議別：經濟委員會</li>
              <li>會議簡介：審查104年度中央政府總預算案附屬單位預算營業部分關於經濟部主管：台灣中油股份有限公司。（詢答及處理）（11月17日、19日、20日三天一次會）</li>
            </ul>
            <div class="writer"><span>資料回報者</span>阿皮皮皮皮皮皮皮皮皮 at
              <time class="time">2014-06-17</time>
            </div>
            <div id="edit-block">
              <ul class="edit-btn">
                <li><a href="edit-video.html">修改編輯</a></li>
                <li><a href="#">刪除</a></li>
              </ul>
            </div>
            <!--留言區塊放在reply-message區塊內 start-->
            <div class="reply-message"> </div>
            <!--留言區塊end-->
          </section>
        </div>
      </div>
      <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
    </article>
  </div>
</body>
</html>
