<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>國會調查兵團 CIC - Congressional Investigation Corps</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="css/popup.css" rel="stylesheet" type="text/css">
<link href="css/style-new.css" rel="stylesheet" type="text/css">
    <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">

<body>
<div id="outer">
  <article id="all-wrap">
    <div id="top">
      <header id="logo">
        <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
      </header>
      <nav id="first-nav">
        <ul>
          <li><a href="new-record-list.html">最新調查</a></li>
          <li><a href="legislators-search.html">找立委</a></li>
          <li><a href="login.html">登入</a></li>
          <li><a href="regist.html">加入兵團</a></li>
          <li><a href="about.html">兵團計畫說明</a></li>
        </ul>
      </nav>
    </div>
    <div id="main-wrap">
      <div class="vote-ly-g0v">
        <section class="single-page-inner">
          <div id="title-total-data" class="vtitle-set">
            <header>
              <h3>立委表現比一比 </h3>
            </header>
          </div>
          <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
          <div class="inner-content-txt">
            <div class="complex-link">
              <div class="clink-01 clink">
                <h4>院會出席率<br>
                  比一比</h4>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">請選擇會期 </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第6會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第5會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第4會期</i></a></li>
                  </ul>
                </div>
                <p>誰的出席率最高？立委出席率排名一目了然。</p>
              </div>
              <div class="clink-02 clink">
                <h4>委員會出席率質詢率<br>
                  比一比</h4>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">請選擇會期</button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第6會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第5會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第4會期</i></a></li>
                  </ul>
                </div>
                <p>每個委員會的出席與質詢狀況如何？哪個委員在委員會內是吊車尾？</p>
              </div>
              <div class="clink-03 clink">
                <h4>公民評鑑總<br>
                  比一比</h4>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">請選擇會期 </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第6會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第5會期</i></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第4會期</i></a></li>
                  </ul>
                </div>
                <p>根據問政專業、價值立場、問題解決、問政態度與技巧，哪一個立委最受公民青睞？</p>
              </div>
            </div>
          </div>
          
          <!--留言區塊放在reply-message區塊內 start-->
          <div class="reply-message"> </div>
          <!--留言區塊end--></section>
      </div>
    </div>
    <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
  </article>
</div>
</body>
</html>
