<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>國會調查兵團 CIC - Congressional Investigation Corps</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/jquery.bpopup.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="css/popup.css" rel="stylesheet" type="text/css">
<link href="css/style-new.css" rel="stylesheet" type="text/css">
    <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="outer">
  <article id="all-wrap">
    <div id="top">
      <header id="logo">
        <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
      </header>
      <nav id="first-nav">
        <ul>
          <li><a href="new-record-list.html">最新調查</a></li>
          <li><a href="legislators-search.html">找立委</a></li>
          <li><a href="login.html">登入</a></li>
          <li><a href="regist.html">加入兵團</a></li>
          <li><a href="about.html">兵團計畫說明</a></li>
        </ul>
      </nav>
    </div>
    <div id="main-wrap">
      <div class="vote-ly-g0v">
        <div class="legislators-group">
          <div class="legislators-block">
            <div class="legislators-basic party-kmt"> <a href="people-single.html" class="legimg"><img src="images/people.jpg" /></a>
              <h2 class="name"> <a href="people-single.html">鄭天財Sra.Kacaw</a> </h2>
              <ul class="edition">
                <li><span>第9屆</span>全國不分區｜民主進步黨</li>
              </ul>
              <nav>
                <ul class="local-data">
                  <li><a href="people-single-video.html">影片數 <span>100</span></a></li>
                  <li><a href="people-single-news.html">新聞數 <span>100</span></a></li>
                  <li><a href="people-single-talk.html">質詢數 <span>100</span></a></li>
                </ul>
              </nav>
            </div>
            <aside class="legislators-more-info">
              <ul class="lmib-01">
                <li id="lmi-01"><a href="legislators-analysis.html">立委戰力分析</a></li>
                <li id="lmi-02"><a href="legislators-contributions.html">政治獻金</a></li>
                <li id="lmi-03"><a href="legislators-vote.html">提案投票紀錄</a></li>
                <li id="lmi-04"><a href="legislators-law.html">法條修正案</a></li>
              </ul>
              <ul class="lmib-02">
<h6>相關連結</h6>
                <li id="lmi-05"><a href="#">個人財產申報</a></li>
                <li id="lmi-06"><a href="#">競選政見</a></li>
                <li id="lmi-07"><a href="#">官方臉書</a></li>
                <li id="lmi-08"><a href="#">維基百科</a></li>
<li id="lmi-09"><a href="#">立院ivod</a></li>
<li id="lmi-10"><a href="#">公督盟評鑑</a></li>
<li id="lmi-11"><a href="#">國會無雙</a></li>
              </ul>
              <ul class="lmi-02">
                <li></li>
              </ul>
            </aside>
          </div>
        </div>
        <section class="single-page-inner">
          <div id="title-vote" class="vtitle-set">
            <header>
              <h3>投票提案紀錄 </h3>
              <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">第8屆<i>2012~2016</i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>2012~2016</i></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第7屆<i>2008~2012</i></a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第6屆<i>2005~2008</i></a></li>
        </ul>
      </div>
                <div class="data-src">資料來源：<a href="#">立委投票指南</a></div></header>
          </div>
          <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
          <nav id="sec-nav">
            <ul id="secn01">
              <li><a href="#" >全部投票</a></li>
              <li><a href="#" class="current">贊成</a></li>
              <li><a href="#">反對</a></li>
              <li><a href="#">棄權</a></li>
              <li><a href="#">沒有投票</a></li>
            </ul>
          </nav>
          <div class="inner-content-txt">
            <div class="vote-group-list">
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="disagree">反對</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="passed">通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="abstain">棄權</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="notvote">沒投票</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
              <div class="vote-group">
                <div class="vote-txt-group"> <span class="order-time">表決日期：2013-10-10</span> <a href="#" class="view-proposal mbtn">查看提案完整內容</a>
                  <div class="ss-txt"> 一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：... </div>
                </div>
                <div class="vote-result-block">
                  <div class="self-vote vote-block">
                    <h4>個人投票</h4>
                    <div class="vote-result"> <span class="agree">贊成</span> </div>
                  </div>
                  <div class="all-vote vote-block">
                    <h4>表決結果</h4>
                    <a href="#" class="view-vote">看投票名單</a>
                    <div class="vote-result"> <span class="notpassed">不通過</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="page">
              <nav class="pagination"> <span class="page current"> 1 </span> <span class="page"> <a rel="next" href="/videos?page=2">2</a> </span> <span class="page"> <a href="/videos?page=3">3</a> </span> <span class="page"> <a href="/videos?page=4">4</a> </span> <span class="page"> <a href="/videos?page=5">5</a> </span> </nav>
            </div>
          </div>
          
          <!--留言區塊放在reply-message區塊內 start-->
          <div class="reply-message"> </div>
          <!--留言區塊end--></section>
      </div>
    </div>
    <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
  </article>
</div>

<!-- Element to pop up -->
<div id="element_to_pop_up">
    <a class="b-close" href="#"><img src="images/close.png" /></a>
    <div class="vote-proposal-txt">
    <h4>原文</h4><span class="vote-time-s">表決日期：2013-12-20</span>
    <div class="proposal-inner">
    <p>一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）
決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：一、興學目的。二、學校名稱。三、學校位置、校地面積、校舍、設備及相關資料。四、擬設學院、系、所、學程、科、組、班、級及附屬機構。五、學校經費概算。六、設校資金及財產之數額、種類、價值及相關證明文件。七、學校法人相關資料。（第一項），前項校地應於申請籌設學校時，取得捐贈土地或租用土地相關證明文件；校舍、設備等，得配合擬設學院、系、所、學程、科、組、班、級及附屬機構之計畫分年完成；所需經費得分年估算之。（第二項），前項之租用土地，自學校立案或變更校地範圍起，應至少承租三十年，不受民法、國有財產法及地方公有財產管理法規關於租期之限制。（第三項），前項非租用公有、公營事業或政府捐助設立之財團法人土地者，其租金應比照國有財產法出租基地租金之規定計收，並設定與租期相同期限之地上權，以作學校使用為限，經依法公證後，依前條規定完成審查。（第四項）」【經在場委員100人，贊成者90人，反對者7人，棄權者3人，多數通過；並採記名表決方式，表決一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）</p>
<p>決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：一、興學目的。二、學校名稱。三、學校位置、校地面積、校舍、設備及相關資料。四、擬設學院、系、所、學程、科、組、班、級及附屬機構。五、學校經費概算。六、設校資金及財產之數額、種類、價值及相關證明文件。七、學校法人相關資料。（第一項），前項校地應於申請籌設學校時，取得捐贈土地或租用土地相關證明文件；校舍、設備等，得配合擬設學院、系、所、學程、科、組、班、級及附屬機構之計畫分年完成；所需經費得分年估算之。（第二項），前項之租用土地，自學校立案或變更校地範圍起，應至少承租三十年，不受民法、國有財產法及地方公有財產管理法規關於租期之限制。（第三項），前項非租用公有、公營事業或政府捐助設立之財團法人土地者，其租金應比照國有財產法出租基地租金之規定計收，並設定與租期相同期限之地上權，以作學校使用為限，經依法公證後，依前條規定完成審查。（第四項）」【經在場委員100人，贊成者90人，反對者7人，棄權者3人，多數通過；並採記名表決方式，表決一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）</p>
<p>決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：一、興學目的。二、學校名稱。三、學校位置、校地面積、校舍、設備及相關資料。四、擬設學院、系、所、學程、科、組、班、級及附屬機構。五、學校經費概算。六、設校資金及財產之數額、種類、價值及相關證明文件。七、學校法人相關資料。（第一項），前項校地應於申請籌設學校時，取得捐贈土地或租用土地相關證明文件；校舍、設備等，得配合擬設學院、系、所、學程、科、組、班、級及附屬機構之計畫分年完成；所需經費得分年估算之。（第二項），前項之租用土地，自學校立案或變更校地範圍起，應至少承租三十年，不受民法、國有財產法及地方公有財產管理法規關於租期之限制。（第三項），前項非租用公有、公營事業或政府捐助設立之財團法人土地者，其租金應比照國有財產法出租基地租金之規定計收，並設定與租期相同期限之地上權，以作學校使用為限，經依法公證後，依前條規定完成審查。（第四項）」【經在場委員100人，贊成者90人，反對者7人，棄權者3人，多數通過；並採記名表決方式，表決一、本院教育及文化委員會報告審查委員陳淑慧等49人擬具「私立學校法第三十六條條文修正草案」案。（本案於二讀後繼續進行三讀）
決議：私立學校法第三十六條條文修正通過。〔二讀時，第三十六條修正為：「籌設學校計畫，應載明下列事項：一、興學目的。二、學校名稱。三、學校位置、校地面積、校舍、設備及相關資料。四、擬設學院、系、所、學程、科、組、班、級及附屬機構。五、學校經費概算。六、設校資金及財產之數額、種類、價值及相關證明文件。七、學校法人相關資料。（第一項），前項校地應於申請籌設學校時，取得捐贈土地或租用土地相關證明文件；校舍、設備等，得配合擬設學院、系、所、學程、科、組、班、級及附屬機構之計畫分年完成；所需經費得分年估算之。（第二項），前項之租用土地，自學校立案或變更校地範圍起，應至少承租三十年，不受民法、國有財產法及地方公有財產管理法規關於租期之限制。（第三項），前項非租用公有、公營事業或政府捐助設立之財團法人土地者，其租金應比照國有財產法出租基地租金之規定計收，並設定與租期相同期限之地上權，以作學校使用為限，經依法公證後，依前條規定完成審查。（第四項）」【經在場委員100人，贊成者90人，反對者7人，棄權者3人，多數通過；並採記名表決方式，表決結果名單附後</p>
    </div>
    </div>
</div>
</body>
</html>
