<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>國會調查兵團 CIC - Congressional Investigation Corps</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="css/popup.css" rel="stylesheet" type="text/css">
<link href="css/style-new.css" rel="stylesheet" type="text/css">
    <link href="css/party-tag-new.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="outer">
  <article id="all-wrap">
    <div id="top">
      <header id="logo">
        <h1><a href="index.html">國會調查兵團 CIC Congressional Investigation Corps</a></h1>
      </header>
      <nav id="first-nav">
        <ul>
          <li><a href="new-record-list.html">最新調查</a></li>
          <li><a href="legislators-search.html">找立委</a></li>
          <li><a href="login.html">登入</a></li>
          <li><a href="regist.html">加入兵團</a></li>
          <li><a href="about.html">兵團計畫說明</a></li>
        </ul>
      </nav>
    </div>
    <div id="main-wrap">
      <div class="vote-ly-g0v">
        <section class="single-page-inner">
          <div id="title-total-data" class="vtitle-set">
            <header>
              <h3>內政委員會出席率、質詢率比一比 </h3>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">第8屆<i>第5會期</i> </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第5會期</i></a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">第8屆<i>第4會期</i></a></li>
                </ul>
              </div>
              <div class="data-src">原始資料來源：<a href="#">公民監督國會聯盟</a></div>
            </header>
          </div>
          <!--fb讚分享按鈕放這-->
            <div class="fb-share">
            （示意：這塊放fb分享按鈕的code)
            </div>
            <!--fb讚分享按鈕end-->
          <div class="inner-content-txt">
            <div class="graphic-group">
              <div class="graphic-start">
                <h4>內政委員會</h4>
                <div class="gp-top gpg-00">
                  <div class="line-all linegp"></div>
                  <div class="line-0  linegps"></div>
                  <div class="line-01  linegps"><span>10%</span></div>
                  <div class="line-02 linegps"><span>20%</span></div>
                  <div class="line-03 linegps"><span>30%</span></div>
                  <div class="line-04 linegps"><span>40%</span></div>
                  <div class="line-05 linegps"><span>50%</span></div>
                  <div class="line-06 linegps"><span>60%</span></div>
                  <div class="line-07 linegps"><span>70%</span></div>
                  <div class="line-08 linegps"><span>80%</span></div>
                  <div class="line-09 linegps"><span>90%</span></div>
                  <div class="line-10 linegps"><span>100%</span></div>
                </div>
              </div>
              <div class="gp-bar">
                <p>平均出席率</p>
                <div class="graphic-body">
                  <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                </div>
              </div>
              <div class="gp-bar">
                <p>平均質詢率</span></p>
                <div class="graphic-body">
                  <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                </div>
              </div>
            </div>
            <div class="graphic-group">
              <div class="graphic-start">
                <h4>內政委員會所有委員</h4>
                <div class="gp-top gpg-00">
                  <div class="line-all linegp"></div>
                  <div class="line-0  linegps"></div>
                  <div class="line-01  linegps"><span>10%</span></div>
                  <div class="line-02 linegps"><span>20%</span></div>
                  <div class="line-03 linegps"><span>30%</span></div>
                  <div class="line-04 linegps"><span>40%</span></div>
                  <div class="line-05 linegps"><span>50%</span></div>
                  <div class="line-06 linegps"><span>60%</span></div>
                  <div class="line-07 linegps"><span>70%</span></div>
                  <div class="line-08 linegps"><span>80%</span></div>
                  <div class="line-09 linegps"><span>90%</span></div>
                  <div class="line-10 linegps"><span>100%</span></div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
              <div class="gp-bar-sg">
              <div class="committee-single">
<a href="#" class="cl-img"> <img src="images/people.jpg"></a><a href="#"> <em>丁守中</em> </a>
          </div>
                <div class="gp-bar">
                  <p>出席率</p>
                  <div class="graphic-body">
                    <div class="gpb-01" style="width:50%;"><span>50%</span></div>
                  </div>
                </div>
                <div class="gp-bar">
                  <p>質詢率</span></p>
                  <div class="graphic-body">
                    <div class="gpb-02" style="width:20%;"><span>20%</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--留言區塊放在reply-message區塊內 start-->
          <div class="reply-message"> </div>
          <!--留言區塊end--></section>
      </div>
    </div>
    <footer id="footer"> 本網站授權協議為CC-BY-ND 3.0 TW，由國會調查兵團製作。 </footer>
  </article>
</div>
</body>
</html>
